body {
    padding-left:10%;
    padding-right:10%;  
    background-color: #ADD8E6;
  }
  
  h1 {
    font-size:5em;
    font-family: Helvetica;
      /* I enlarged the font of the headline text so it was immediately visible to the viewer */

  }
  
  p {
    font size: 1.2em;
    line-height: 1.3em;
    padding-bottom: 20px; 
    
  }
  
  #nav-bar {
  Display: flex;
  Flex-direction: row;
  /* I formatted the nav bar to be horizontol and not vertical */

  }
  
  .nav-button { 
  Margin: auto
  }
  
  
  /*responsive design*/
  #content {
    width: 50%;
      margin: auto;
  }
  
  @media (orientation:portrait) {
    #content {width:100%;
     /* I ensured that the view of the site on mobile would be easy to read */

    }
  }
   